<header>
    <h1>Custom URL</h1>
</header>
{{input type="text" value=urlGiven class="" placeholder="Please enter URL." autofocus="auto"}}
<button onclick = {{action 'makeTinyUrl'}}>Submit</button>
<h3>Get URL</h3>
{{input type="text" value=findUrl class="" placeholder="Please enter URL." autofocus="auto"}}
<button onclick = {{action 'getTinyUrl'}}>Submit</button>

{{outlet}}